{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}
{% if process == "connect" %}

    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
    
    <p>{% blocktrans with provider.name as provider %}
        about to connect a new third party account from {{ provider }}.{% endblocktrans %}
    </p>
    {% else %}
    
    
    <h1 class="text-center">{% blocktrans with provider.name as provider %}
        Sign In Via {{ provider }}
        {% endblocktrans %}
    </h1>
    <hr>
    
    <p class="text-center" style="font-weight: 500;">{% blocktrans with provider.name as provider %} about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
</div>
{% endif %}

<div class="text-center">
    <form method="post">
      {% csrf_token %}
      <button class="btn btn-success" type="submit">{% trans "Continue" %}</button>
    </form>
</div>
{% endblock %}