{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}

        <div class="col-md-4 mx-auto" style="border: 1px silver solid ; border-radius:10px;
        padding: 20px; box-shadow: 5px 5px rgba(192, 192, 192, 0.61);" 
        >

                <h2 class="text-center">Reset Password </h2>
                <hr>
                <form method="post" >
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">reset</button>
                    </div>
                    </div>
                </form>

        </div>

{% endblock %}